* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Futura';
  }
  
  body {
    background-color: #f8f9fa;
    scroll-behavior: smooth;
  }
  
  .navbar .nav-link {
    color: white !important;
    font-weight: 500;
  }
  
.hero {
    background: url('assets/videos/Gunung.gif') no-repeat center center;
    background-size: cover;
    height: 70vh;
    position: relative;
    padding-top: 60px;
}

  .nama {
    font-size: 2.5rem;
    margin-left: 0;}
  
  .deskripsi {
    margin-bottom: 0;
    }

    .keterangan {
    margin-top: 0;
    font-size: 0.8rem;
    margin-bottom: 100px;
    }



.foto-enggal {
    width: 350px;
    margin-top: 85px;
    object-fit: cover;
}

@media (max-width: 1368px) {
    .foto-enggal {
        width: 300px;
        margin-top: 141px;
    }
}

@media (max-width: 768px) {
    .foto-enggal {
        width: 250px;
        margin-top: 28px;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .nama {
        font-size: 2rem;
        margin-top: 95px;
    }

    .keterangan {
        margin-top: 0;
        font-size: 0.8rem;
        margin-bottom: 0px;
        }
}

video.object-fit-fill {
    border-radius: 10px;
    overflow: hidden;
}